<table>
  <thead>
    <tr>
      <th>id</th>
      <th>名前</th>
      <th>正答率</th>
    </tr>
  </thead>
  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td>
          <%= staff.id %>
        </td>
        <td>
          <%= staff.full_name %>
        </td>
        <td>
          <%= staff.correct_rates %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>