<h2>問題カテゴリ選択</h2>
  <%= notice %>
  <p>解きたい問題のカテゴリを選んでください。</p>

  <% @categories.each do |category| %>
    <div>
      <%= link_to category.name ,new_question_path(id: category.id) %>
    </div>
  <% end %>
</table>