<section class="inner">
	<h2 class="section-ttl">問題 新規作成</h2>
	<%= render 'admin/questions/form', question: @question, submit: '新規作成' %>
</section>

<%= javascript_include_tag 'new_change_choice_btn.js' %>