/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import 'font-awesome-sprockets';
@import "font-awesome";

#error_explanation {
  color: red;
  padding-bottom: 20px;
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  ul {
    padding-left: 50px;
    list-style: circle;
  }
}
.field_with_errors {
  display: inline-block;
  input,
  textarea {
    border: 1px solid red;
  }
}
.text-invalid {
  color: #bbb;
}
.text-active {
  font-weight: bold;
  color: #0a0;
}
h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
input,
textarea,
select {
  padding: 8px;
}
header {
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #B6D7A8;
  * {
    position: relative;
    z-index: 100;
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    .logo {
      padding: 10px 20px;
      font-family: "Century";
      font-size: 20px;
      text-decoration: none;
    }
    ul {
      justify-content: flex-end;
      p {
        padding: 10px 20px 10px 10px;
      }
      li {
        list-style: none;
        a {
          display: block;
          width: 110px;
          padding: 10px;
          text-align: center;
          text-decoration: none;
          color: #333;
        }
      }
      li:hover {
        background-color: #fcc;
        a {
          color: #fff;
        }
      }
    }
  }
}
.admin_header {
  background-color: #aaf;
  .header-content {
    ul {
      li:hover {
        background-color: #ccf;
      }
    }
  }
}
main {
  padding: 100px 0;
}
footer {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
  background-color: #ccc;
}
th {
  border-style: solid;
  border-color: #aaa;
  background-color: #ddd;
}
td {
  padding: 10px;
  border-style: solid;
  border-color: #aaa;
}
table.has_border {
  width: 100%;
  thead {
    th {
      border-width: 1px 1px 0;
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
        border-width: 1px 1px 0;
      }
    }
    tr:last-child {
      td {
        border-width: 1px;
      }
    }
  }
}
div.staff_info_container{
  width: 100%;
  div:first-child{
    width: 55%;
  }
  div:last-child{
    width: 40%;
  }
}
table.admin_staff_index {
  thead {
    tr {
      th {
        width: 280px;
      }
      th:first-child {
        width: 60px;
      }
      th:nth-child(3),
      th:nth-child(4),
      th:nth-child(6), {
        width: 120px;
      }
    }
  }
  tbody {
    tr {
      td {
        text-align: center;
      }
    }
  }
}
table.staff_info {
  width: 100%;
  thead {
    th:first-child {
      width: 60%;
    }
    th:last-child {
      width: 40%;
    }
  }
}
table.category_info {
  width: 400px;
  thead {
    tr {
      th {
        width: 100px;
      }
      th:first-child {
        width: 200px;
      }
    }
  }
  tbody {
    tr {
      td:nth-child(2) {
        text-align: center;
      }
    }
  }
}
.sidebar {
  width: 160px;
  height: max-content;
  margin: 50px 20px 0 0;
  padding: 10px 0 0;
  text-align: center;
  h3 {
    margin-bottom: 0;
    border-bottom: 4px double #ccf;
  }
  a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #333;
  }
  a:hover {
    background-color:  #aaf;
    color: #fff;
  }
}
.content {
  width: 780px;
}

table.questions {
  thead {
    tr {
      th {
        width: 100px;
      }
      th:nth-child(2),
      th:nth-child(3) {
        width: 220px;
      }
    }
  }
  tbody {
    tr {
      td {
        p {
          word-break: break-word;
        }
      }
    }
  }
}
table.question_form {
  width: 600px;
  thead {
    tr {
      th {
        // width: 280px;
      }
      th:first-child {
        width: 20%;
      }
      th:nth-child(3) {
        width: 80%;
      }
    }
  }
}
.field_for_choice input {
  width: 200px;
}
.btn-file {
  overflow: hidden;
  position: relative;
  input[type=file] {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100px;
    text-align: right;
    cursor: inherit;
    background: red;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
i {
  cursor: pointer;
}
.black {
  color: block;
}
table.staff_entrance {
  width: 100%;
  thead {
    th:first-child {
      width: 30%;
    }
    // th:last-child {
    //   width: 10%;
    // }
  }
}



// --------------------------------

// li {
//   list-style: none;
//   user-select: none;
//   padding: 0;
//   margin-bottom: 20px;
// }
// li > label {
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   margin-bottom: 16px;
//   padding: 10px 40px;
//   cursor: pointer;
//   width: 100px;
// }
// li > label:hover {
//   background: #f8f8f8;
// }



.correct {
  color: red;
}

.incorrect {
  color: blue;
}


.hidden {
  display: none;
}