/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import 'font-awesome-sprockets';
@import "font-awesome";

#error_explanation {
  color: red;
  padding-bottom: 20px;
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  ul {
    padding-left: 50px;
    list-style: circle;
  }
}
.field_with_errors {
  display: inline-block;
  input,
  textarea {
    border: 1px solid red;
  }
}
.text-invalid {
  color: #bbb;
}
.text-active {
  font-weight: bold;
  color: #0a0;
}
h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
input,
textarea,
select {
  padding: 8px;
}
header {
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #B6D7A8;
  * {
    position: relative;
    z-index: 100;
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    .logo {
      padding: 10px 20px;
      font-family: "Century";
      font-size: 20px;
      text-decoration: none;
    }
    ul {
      justify-content: flex-end;
      p {
        padding: 10px 20px 10px 10px;
      }
      li {
        list-style: none;
        a {
          display: block;
          width: 110px;
          padding: 10px;
          text-align: center;
          text-decoration: none;
          color: #333;
        }
      }
      li:hover {
        background-color: #beb;
        a {
          color: #fff;
        }
      }
    }
  }
}
.admin_header {
  background-color: #aaf;
  .header-content {
    ul {
      li:hover {
        background-color: #ccf;
      }
    }
  }
}
main {
  padding: 100px 0;
  flex: 1;
}
footer {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
  background-color: #ccc;
}
th {
  border-style: solid;
  border-color: #aaa;
  background-color: #ddd;
}
td {
  padding: 10px;
  border-style: solid;
  border-color: #aaa;
}
table.has_border {
  width: 100%;
  thead {
    th {
      border-width: 1px 1px 0;
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
        border-width: 1px 1px 0;
      }
    }
    tr:last-child {
      td {
        border-width: 1px;
      }
    }
  }
}
table.has_border_bottom {
  thead {
    tr {
      th {
        vertical-align: middle;
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
        border-width: 0 0 1px;
      }
    }
  }
}
div.staff_info_container{
  width: 100%;
  div:first-child{
    width: 55%;
  }
  div:last-child{
    width: 40%;
  }
}
table.admin_staff_index {
  thead {
    tr {
      th {
        width: 280px;
      }
      th:first-child {
        width: 60px;
      }
      th:nth-child(3),
      th:nth-child(4),
      th:nth-child(6), {
        width: 120px;
      }
    }
  }
  tbody {
    tr {
      td {
        text-align: center;
      }
    }
  }
}
table.staff_info {
  width: 100%;
  thead {
    th:first-child {
      width: 60%;
    }
    th:last-child {
      width: 40%;
    }
  }
}
table.category_info {
  width: 400px;
  thead {
    tr {
      th {
        width: 100px;
      }
      th:first-child {
        width: 200px;
      }
    }
  }
  tbody {
    tr {
      td:nth-child(2) {
        text-align: center;
      }
    }
  }
}
.sidebar {
  width: 160px;
  height: max-content;
  margin: 50px 20px 0 0;
  padding: 10px 0 0;
  text-align: center;
  h3 {
    margin-bottom: 0;
    border-bottom: 4px double #ccf;
  }
  a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #333;
  }
  a:hover {
    background-color:  #aaf;
    color: #fff;
  }
}
.content {
  width: 780px;
}

table.questions {
  thead {
    tr {
      th {
        width: 100px;
      }
      th:nth-child(2),
      th:nth-child(3) {
        width: 220px;
      }
    }
  }
  tbody {
    tr {
      td {
        p {
          word-break: break-word;
        }
      }
    }
  }
}
table.question_form {
  width: 600px;
  thead {
    tr {
      th {
        // width: 280px;
      }
      th:first-child {
        width: 20%;
      }
      th:nth-child(2),
      th:nth-child(4) {
        width: 10%;
      }
      th:nth-child(3) {
        width: 60%;
      }
    }
  }
}
.field_for_choice input {
  width: 200px;
}
.btn-file {
  overflow: hidden;
  position: relative;
  input[type=file] {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100px;
    text-align: right;
    cursor: inherit;
    background: red;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
i {
  cursor: pointer;
}
.black {
  color: block;
}
table.staff_entrance {
  width: 100%;
  thead {
    th:first-child {
      width: 30%;
    }
  }
}
span.ttl-span {
  font-size: 20px;
}
table.staff_info_edit {
  width: 100%;
  thead {
    th:nth-child(1),
    th:nth-child(2),
    th:nth-child(3) {
      width: 10%;
    }
  }
}
table.wrong_answer_index {
  width: 100%;
  thead {
    tr {
      th:nth-child(1) {
        width: 120px;
      }
      th:nth-child(2) {
        width: 60px;
      }
      th:nth-child(3) {
        width: 50%;
      }
      th:last-child {
        width: 180px;
      }
    }
  }
  tbody {
    tr {
      td:first-child,
      td:nth-child(2),
      td:last-child {
        text-align: center;
      }
    }
  }
}
table.ranking {
  width: 100%;
  thead {
    th:nth-child(1) {
      width: 60px;
    }
    th:nth-child(3) {
      width: 60px;
    }
  }
  tbody {
    tr {
      td:first-child,
      td:last-child {
        text-align: center;
      }
    }
    tr:first-child {
      td:first-child {
        div{
          height: 40px;
          width: 40px;
          line-height: 40px;
          background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
        }
      }
    }
    tr:nth-child(2) {
      td:first-child {
        div{
          height: 40px;
          width: 40px;
          line-height: 40px;
          background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
        }
      }
    }
    tr:nth-child(3) {
      td:first-child {
        div{
          height: 40px;
          width: 40px;
          line-height: 40px;
          background: linear-gradient(45deg, #DA744B 0%, #e48b67 45%, #f9d0c0 70%, #e48b67 85%, #DA744B 90% 100%);
        }
      }
    }
  }
}
div.circle {
  border-radius: 50%;
}
.categories_bar {
  width: 160px;
  height: max-content;
  margin: 20px 0 0;
  padding: 10px 0 0;
  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ccc;
  }
  a:hover {
    background-color: #B6D7A8;
    color: #fff;
  }
}
form[action="/questions/start"] {
  margin: 20px 0 60px;
  div {
    margin: 20px 0;
    select {
      width: 100px;
    }
  }
}
form[action="/questions/sub_result"] {
  margin: 30px 0;
}
div.question_content {
  margin: 20px 0;
  min-height: 240px;
  p {
    font-size: 16px;
  }
  label.choice {
    display: inline-block;
    margin: 5px 0;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    min-width: 200px;
  }
  label.choice:hover {
    background: #f8f8f8;
  }
}
div.questions_content {
  margin: 20px 0;
  div {
    margin: 20px 0;
  }
  p {
    font-size: 16px;
  }
}
.hidden {
  display: none;
}
.csv-import {
  margin: 20px 0 60px;
  form[action="/admin/questions/import"] {
    margin-right: 40px;
  }
}